@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main a {
    font-family: Montserrat;
    font-size: 32px;
    text-decoration: underline;
    font-weight: bold;
    color: #232323;
    display: block;
    margin-top: 50px;
}
